$max_width: 1400px;
$color-primary: #1a1a1a;
$color-secondary: #1a1a1a80;
$button-normal-color: #f4f4f4;
$border-color: rgba(26, 26, 26, 0.1);
$border-radius: 12px;

$xsBreakpoint: 576px;
$smBreakpoint: 768px;
$mdBreakpoint: 1024px;
$lgBreakpoint: 1290px;
$xlBreakpoint: 1400px;
